stages:
  - build_and_deploy

build_and_deploy:
  stage: build_and_deploy
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - git clone http://$GIT_USERNAME:$GIT_PASSWORD@126.122.223.58:8181/hrm-metal/hrmmetal.git
    - echo "Repository cloned successfully."
    - npm install
    - npm run build
    - echo "Build completed successfully."
    - docker-compose up -d
    - echo "Docker containers started successfully."
    - npm start
    - echo "Deployment completed successfully."
  tags:
    - hrmMetal-server-CICD