stages:
  - build_and_deploy
build_and_deploy:
  stage: build_and_deploy
  script:
    - pm2 delete all
    - node -v
    - npm -v
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - git clone http://$GIT_USERNAME:$GIT_PASSWORD@126.122.223.58:8181/hrm-metal/hrmmetal.git
    - echo "$FB_CLIENT_MAIL"
    - npm install
    - npm run build
    - docker-compose up -d
    - npm start
    - pm2 logs
  tags:
    - cicd-server