stages:
  - build_and_deploy
build_and_deploy:
  stage: build_and_deploy
  variables:
    PRO_PORT: ${PRO_PORT}
    PRO_DB_PASSWORD: ${PRO_DB_PASSWORD}
    PRO_HOST: ${PRO_HOST}
    FB_PRIVATE_KEY: ${FB_PRIVATE_KEY}
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - git clone http://$GIT_USERNAME:$GIT_PASSWORD@126.122.223.58:8181/hrm-metal/hrmmetal.git
    - npm install
    - npm run build
    - pm2 kill
    - docker-compose up -d
    - npm start
    - pm2 logs
  tags:
    - cicd-server 