services:
  hoangdev:
    image: tranviethoangsmile/hrm:latest
    ports:
      - 54323:5432
    environment:
      POSTGRES_USER: hoangdev
      POSTGRES_PASSWORD: ${PRO_DB_PASSWORD}
    volumes:
      - /Users/hoangdev/Desktop/docker-data:/var/lib/postgresql/data
  
  redis:
    image: redis:latest
    platform: linux/amd64
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  redis_data: